*.class

# Package Files #
*.jar
*.war
*.ear

.settings/*.*
*hibernate.cfg.xml
hibernate.cfg.xml
java/hibernate.cfg.xml
src/java/hibernate.cfg.xml
Twittbook/src/java/hibernate.cfg.xml
Twittbook/Twittbook/src/java/hibernate.cfg.xml
Twittbook/nbproject/private*
Twittbook/nbproject/private/private.properties
.project
.classpath
/Twittbook/build/
/Twittbook/dist/
*persistence.xml
*/persistence.xml
persistence.xml
META-INF/persistence.xml
web/META-INF/persistence.xml
Twittbook/web/META-INF/persistence.xml
Twittbook/Twittbook/web/META-INF/persistence.xml
*/Constants.java
Constants.java
Twittbook/src/java/service
Twittbook/Twittbook/src/java/service/Constants.java